  // Finale Words
  // --------------------------------------------------------------------------

  .final-words{
    background-color: $light;
    padding: 
      var(--responsive-padding-top) 
      var(--responsive-padding-right-left) 
      var(--responsive-padding-bottom) 
      var(--responsive-padding-right-left);

    @media only screen and (min-width: $vp-xlarge) {
      display: grid;
      gap: var(--responsive-gap);
      grid-template-columns: 1fr $column-medium;
    }
  
    @media only screen and (min-width: $vp-xxlarge) {
      grid-template-columns: 1fr $column-large;
    }
  }

