  // Main Footer
  // --------------------------------------------------------------------------

  .main-footer{
    background-color: $dark;
    color: $lighter;
    padding: 
      var(--responsive-padding-top-inner) 
      var(--responsive-padding-right-left) 
      var(--responsive-padding-bottom-inner) 
      var(--responsive-padding-right-left);

    & > p{
      margin: 0;
    }
  }

