  // Main Footer
  // --------------------------------------------------------------------------

  .main-footer{
    background-color: $dark;
    color: $lighter;
    padding: $m $l;

    & > p{
      margin: 0;
    }
  }

