.leporello-recog {
  padding:
    0
    var(--responsive-padding-right-left)
    var(--responsive-padding-bottom)
    var(--responsive-padding-right-left);
  background-color: $lightest;

  @media only screen and (min-width: $vp-medium) {
    display: grid;
    gap: var(--responsive-gap);
    grid-template-columns: max($tile-xs) 1fr;
  }

  // Image
  // --------------------------------------------------------------------------

  &__image {
    padding: 0;
    margin: 0;
    margin-bottom: $l;

    & > img {
      width: 100%;
      height: fit-content;
    }
  }

  // Overall Overview Image
  // --------------------------------------------------------------------------

  .overall-overview {
    padding: 0;
    margin: 0;
    margin-bottom: $l;

    & > img {
      width: auto;
      height: 10em;
    }
  }

  // Base Content
  // --------------------------------------------------------------------------
  .base-content{
    max-width: $column-large;
    grid-area: head;
  }

    
  // Grid Wrapper
  // --------------------------------------------------------------------------
  .grid-wrapper {
    .main-column {
      max-width: $column-large;
      grid-area: left;
    }

    .marginal-content {
      max-width: $column-large;
      grid-area: right;
    }

    @media only screen and (min-width: $vp-xlarge) {
      display: grid;
      gap: var(--responsive-gap);
      grid-template-areas: 
        "head head"
        "left right";
      grid-template-columns: 1fr $column-medium;
      grid-template-rows: auto 1fr;
    }

    @media only screen and (min-width: $vp-xxlarge) {
      display: grid;
      grid-template-columns: 1fr $column-large;
    }

    &:has(.overall-overview){
      @media only screen and (min-width: $vp-xlarge) {
        grid-template-areas: 
          "head right"
          "left right";
      }
    }
  }
}
