// Main Navigation
// --------------------------------------------------------------------------

.main-navigation {
  padding:
    var(--responsive-padding-top-inner)
    var(--responsive-padding-right-left)
    var(--responsive-padding-bottom-inner)
    var(--responsive-padding-right-left);
  background-color: $lightest;
}

// Back Button
// --------------------------------------------------------------------------

.back {
  display: inline-block;
  display: flex;
  width: $xxxxl;
  height: $xxxxl;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
  background-color: $darken;
  border-radius: 50%;
  color: $accent-dark;
  font-size: $l;
  transition: margin $tr-medium $tr-slow, background-color $tr-medium, color $tr-medium;
  transition-timing-function: ease-out;

  &:hover {
    background-color: $darken-strong;
    color: $accent;
  }

  &.is-active {
    margin-left: 0;
  }
}
