// Main Navigation
// --------------------------------------------------------------------------

.main-navigation {
  display: grid;
  align-items: center;
  padding:
    var(--responsive-padding-top-inner)
    var(--responsive-padding-right-left)
    var(--responsive-padding-bottom-inner)
    var(--responsive-padding-right-left);
  background-color: $lightest;
  gap: var(--responsive-gap);
  grid-template-columns: max($tile-xs) 1fr;
  transition: padding $tr-medium;

  &.is-loose {
    padding-top: var(--responsive-padding-top);
    padding-bottom: var(--responsive-padding-top);
  }

  & > h2 {
    margin: 0;
    color: $darken-strong;
    font-size: $xl;
    font-weight: $fw-light;
  }
}

// Back Button
// --------------------------------------------------------------------------

.back {
  display: inline-block;
  display: flex;
  width: $xxxxl;
  height: $xxxxl;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
  background-color: $darken;
  border-radius: 50%;
  color: $accent-dark;
  font-size: $l;
  transition: margin $tr-medium $tr-slow, background-color $tr-medium, color $tr-medium;
  transition-timing-function: ease-out;

  &:hover {
    background-color: $darken-strong;
    color: $accent;
  }

  &.is-active {
    margin-left: 0;
  }
}

// Logo
// --------------------------------------------------------------------------

.logo {
  position: absolute;
  top: calc(var(--responsive-padding-top) / 2);
  left: -200px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: $xxs;
  aspect-ratio: 1/1;
  background-color: $darken;
  border-radius: 50%;
  color: $accent-dark;
  font-size: $l;
  opacity: 0;
  transition: left $tr-medium $tr-medium, background-color $tr-fast, color $tr-fast, opacity $tr-slow $tr-slow;
  transition-timing-function: ease-out;
  vertical-align: center;

  &:hover {
    background-color: $darken-strong;
    color: $accent;
  }

  &.is-active {
    left: var(--responsive-padding-right-left);
    opacity: 1;
  }
}
