// Main Navigation
// --------------------------------------------------------------------------

.main-navigation{
  background-color: $lightest;
  padding: 
    var(--responsive-padding-top-inner) 
    var(--responsive-padding-right-left) 
    var(--responsive-padding-bottom-inner) 
    var(--responsive-padding-right-left);
}

// Back Button
// --------------------------------------------------------------------------

.back{
  display: inline-block;
  font-size: $l;
  background-color: $darken;
  color: $accent-dark;
  width: $xxxxl;
  height: $xxxxl;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: -100px;
  transition-timing-function: ease-out;
  transition: margin $tr-medium $tr-slow, background-color $tr-medium, color $tr-medium;

  &:hover{
    background-color: $darken-strong;
    color: $accent;
  }

  &.is-active{
    margin-left: 0;
  }
}

