.switchable-content-handle {
  background-color: $darken;
  font-weight: $fw-bold;
  color: $accent-dark;
  padding: 2px $xxxs;
  display: inline-block;
  margin-left: $quad;
  transition: background-color $tr-fast;

  &:hover{
    background-color: $darken-medium;
  }
}

.preview-text{
  opacity: 1;
  transition: opacity $tr-fast;
  height: auto;
}

.full-text{
  padding-bottom: $xl;
  opacity: 1;
  transition: opacity $tr-fast, padding $tr-medium $tr-fast;
  height: auto;

  &.is-cut{
    padding: 0;
  }
}