.definition-list {
  width: 100%;
  margin-top: -$xs;
  font-weight: $fw-light;
  margin-bottom: $l;

  &__term {
    display: inline;
    padding-bottom: $xxs;
    font-weight: $fw-semibold;
    line-height: $lh-normal;

    &::before{
      content: "";
      display:block;
      height: $xs;
    }

    &::after {
      content: ":";
    }
  }

  &__definition {
    display: inline;
    margin: 0;
    line-height: $lh-normal;

    &:last-child {
      border-bottom: none;
    }

    & > .literature-table {
      margin-top: -$xs;
    }
  }
}
