// Image Description (Wrap)
// --------------------------------------------------------------------------

.image-caption-wrap{
  padding: $m 0 $m $m;

  @media only screen and (min-width: $vp-xlarge) {
    padding: $l 0 $xl $xl;
  }

  @media only screen and (min-width: $vp-xxlarge) {
    padding: $xxl 0 $xxxxl $xxxxl;
    display: grid;
    gap: $m;
    grid-template-columns: $column-small 1fr;
    padding-bottom: $xl;
  }
}

// Image Description
// --------------------------------------------------------------------------

.image-caption {
  display: block;
  padding-right: $m;

  $self: &;

  &-text {
    display: block;
    color: $dark;
  }

  &__title {
    display: inline-block;
    color: $darkest;
    font-weight: $fw-semibold;
    padding-right: $xxxxl;

    $title: &;

    &::after{
      top: -$quad !important;
      right: -$quad !important;
      background-color: transparent !important;

    }

    &:hover{
      &::after{
        background-color: $darken !important;
      }
    }
  }

  .definition-list {
    margin-top: 0;
    list-style: none;
  }

  .flat-text {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }

  &.is-secondary{
    
    @media only screen and (max-width: $vp-xxlarge) {
      @include small-separator;
    }

    .image-caption__title{
      margin-top: 0;
    }

    .image-caption__title, .definition-list__term {
      font-weight: $fw-regular;
      color: $darkest;
    }

    .image-caption__text{
      margin-top: $quad;
    }
  }
}
