ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin-bottom: $xs;
    line-height: $lh-normal;
    list-style-type: none;
  }

  &.simple {
    li {
      margin-left: $m;
      list-style-type: square;
    }
  }
}

// Definition List
//-----------------------------------------------------------------------------

.definition-list {
  width: 100%;
  margin-top: 0;
  margin-bottom: $xs;
  font-weight: $fw-light;

  $self: &;

  &.is-flex{
    display: flex;
    #{$self}__definition{
      flex-grow: 1;
    }

    #{$self}__term{
      flex: none;
    }

  }

  &:not(.is-flex){
    #{$self}__term{
      float: left;
      clear: left;
    }
  }

  &__term {
    font-weight: $fw-semibold;
    line-height: $lh-normal;
    padding-right: $quad;

    &::after{
      content: ":";
    }
  }

  &__definition {
    margin: 0;

    line-height: $lh-normal;

    &:last-child {
      border-bottom: none;
    }

    &.is-block {
      display: block;
      margin-bottom: $half;
    }

    & > .literature-table {
      margin-top: -$xs;
    }
  }

  &__term,
  &__definition{
    padding-bottom: $xxs;

    &:last-child{
      padding-bottom: 0;
    }
  }

}
