ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin-bottom: $xs;
    line-height: $lh-normal;
    list-style-type: none;
  }

  &.simple{
    li{
      list-style-type: square;
      margin-left: $m;
    }
  }
}

// Definition List
//-----------------------------------------------------------------------------

.definition-list {
  width: 100%;
  margin-top: -$xs;
  margin-bottom: $l;
  font-weight: $fw-light;

  &__term {
    display: inline;
    padding-bottom: $xxs;
    font-weight: $fw-semibold;
    line-height: $lh-normal;

    &::before {
      display: block;
      height: $xs;
      content: "";
    }

    &::after {
      content: ":";
    }
  }

  &__definition {
    display: inline;
    margin: 0;
    line-height: $lh-normal;

    &:last-child {
      border-bottom: none;
    }

    &.is-block{
      display: block;
    }

    & > .literature-table {
      margin-top: -$xs;
    }
  }

  &.is-tight {
    .definition-list__term,
    .definition-list__definition {
      padding-bottom: 0;
    }
  }
}
