.drawer {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  flex-direction: column;
  right: -450px;
  top: 0;
  height: 100vh;
  width: 40%;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  z-index: 41;
  gap: 1em;

  @media screen and (max-width: 768px) {
    &.is-visible {
      transform: translateX(-450px);
      box-shadow: 25px 0 50px rgb(106, 106, 106);
      width: 100%;
      max-width: 100%;
    }
  }

  &.is-visible {
    transform: translateX(-450px);
    box-shadow: 25px 0 50px rgb(106, 106, 106);
    display: flex;
  }
  
  .drawer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    font-size: 1.08rem;

    h2 {
      margin: 0;
    }
  }
  
  .drawer__content {
    box-sizing: border-box;
    flex: 1;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
  }
}

[data-icon]::before {
  content: attr(data-icon);
  font-family: 'MaterialIcons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}