.survey {
  padding-bottom: $m;

  &-title {
    margin-top: 0;
    margin-bottom: $quad;
    font-weight: $fw-semibold;
    line-height: $lh-normal;
  }

  &-keywords {
    margin-bottom: $l;
    color: $dark;
    font-weight: $fw-regular;

    & > li {
      display: inline;
    }

    li + li::before {
      display: inline-block;
      padding-right: $quad;
      content: ",";
    }
  }

  &-persons {
    position: relative;
    font-weight: $fw-regular;

    & > li {
      margin-left: $xxl;
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      color: $darken-strong;
      content: "people";
      font-family: $font-icons;
      font-size: $l;
    }
  }

  &-kind {
    font-weight: $fw-regular;
  }
}
