.table {
  width: 100%;
  border-spacing: 0;

  & > .head {
    position: sticky;
    top: 0;
    background-color: $lightest;

    & > .row {
      & > .cell {
        width: 50%;
        padding: $xxxs;
        font-weight: $fw-regular;
        text-align: left;
        vertical-align: top;
      }
    }
  }

  & > .body {
    & > .row {
      & > .cell {
        padding: $xxxs;

        &.-center {
          text-align: center;
        }

        &.has-interaction {
          & > a {
            border-bottom: solid $border-stroke-weight-s $accent-dark;
          }
        }
      }
    }

    & > .has-bg {
      & > .cell {
        background-color: $lighter;
      }
    }

    & > .is-detail {
      display: none;
    }

    & > .is-detail.is-visible {
      display: table-row;
    }

    & > .is-active {
      & > .cell {
        padding-top: $l;
        border-top: solid $border-stroke-weight $light;
        font-weight: $fw-semibold;
      }
    }
  }
}

// literature-item-details-table
// ----------------------------------------------------------------------------

.literature-item-details-table {
  width: 100%;
  margin-bottom: $s;
  table-layout: fixed;

  th {
    width: 40%;
    padding: $quad;
    font-weight: $fw-regular;
    text-align: right;
    vertical-align: top;

    &::after {
      display: inline-block;
      content: ":";
    }
  }

  td {
    padding: $quad;
    vertical-align: top;
  }

  tr + tr {
    th,
    td {
      border-top: solid $border-stroke-weight-s $darken;
    }
  }
}

// info table
// ----------------------------------------------------------------------------

.info-table {
  box-sizing: border-box;
  width: 100%;
  max-width: $column-large;
  padding: 0;
  border: none;
  margin-bottom: $xxxl;
  border-image-width: 0 !important;
  border-spacing: 0;
  background-color: $lighter;
  border-radius: $radius-s;
  position: relative;


  &__data,
  &__remark {
    width: 50%;
    padding: $m $m $l $m;
    vertical-align: top;
  }

  &__remark {
    color: $darken-strong;
  }

  tr + tr td {
    border-top: solid $border-stroke-weight $lightest;
  }

  /* &::before{
    content:"\A";
    width: 0; 
    height: 0; 
    border-left: $xxs solid transparent;
    border-right: $xxs solid transparent;
    border-bottom: $xxs solid $lighter;
    top: -$xxs;
    position: absolute;
  }*/
}
