.has-interaction{

  &:hover {
    cursor: pointer;
  }
}

.is-hidden {
  display: none;
}

.is-remark{
  color: $darken-strong;
}

.is-cut{
  height: 0;
  overflow: hidden;
}

.is-visible {
  display: block;
  opacity: 1;
}

.is-less-important {
  opacity: $op-medium;
}

.has-separator{
  &::before {
    display: block;
    width: $xl;
    border-top: solid $border-stroke-weight $accent-dark;
    margin-top: $xs;
    margin-bottom: $xs;
    content: " ";
  }
}

.has-tight-separator{
  &::before {
    display: block;
    width: $xl;
    border-top: solid $border-stroke-weight $accent-dark;
    content: " ";
    margin-bottom: $s;
  }
}

.has-small-separator {
  &::before {
    display: block;
    width: $xl;
    border-top: solid $border-stroke-weight-s $darken-strong;
    margin-top: $quad;
    margin-bottom: $xs;
    content: " ";
  }
}

.is-identifier {
  display: inline;
  font-weight: $fw-semibold;

  &::after {
    display: inline-block;
    padding-right: $quad;
    content: ":";
  }
}

.is-clipable-content{
  &:hover {
    cursor: pointer;

    &::after {
      opacity: 1;
      transform: rotate(5deg);
    }
  }

  &::after {
    margin-left: $quad;
    content: "content_paste";
    font-family: $font-icons;
    color: $accent-dark;
    vertical-align: bottom;
    display: inline-block;
    padding-left: $quad;
    padding-right: $quad;
    opacity: $op-medium;
    transition: all $tr-fast;
    transform-origin: center;
  }
}
