.image-description {
  padding: $m;
  padding-left: 0;

  &-date {
    font-weight: $fw-semibold;
    display: inline-block;
  }

  &-title {
    font-weight: $fw-semibold;
    display: inline-block;
    color: $darkest;

    & + .image-description-title::before {
      content: "//";
      margin-left: $xxs;
      margin-right: $xxs;
      display: inline-block;
      color: $dark;
      font-weight: $fw-light;
    }

    & + .image-description-date::before {
      content: ", ";
    }
  }

  dl {
    margin-top: $m;
    &::before {
      content: " ";
      display: block;
      width: $xl;
      margin-top: $xs;
      margin-bottom: $xs;
      border-top: solid $border-stroke-weight-s $darken-strong;
    }
  }
}
