// Image Description (Wrap)
// --------------------------------------------------------------------------

.image-description-wrap{
  margin-left: $m;
  margin-bottom: $l;
  padding-top: $m;

  @media only screen and (min-width: $vp-xxlarge) {
    margin-left: $xxl;
    display: grid;
    gap: $m;
    grid-template-columns: $column-small 1fr;
  }
}

// Image Description
// --------------------------------------------------------------------------

.image-description {
  display: block;
  padding-right: $m;

  &-text {
    display: block;
    color: $dark;
  }

  &-title {
    display: inline-block;
    color: $darkest;
    font-weight: $fw-semibold;

    & + .image-description-title::before {
      display: inline-block;
      margin-right: $xxs;
      margin-left: $xxs;
      color: $dark;
      content: "//";
      font-weight: $fw-light;
    }
  }

  .definition-list {
    margin-top: 0;
    list-style: none;
  }

  .flat-text {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }

  &.is-secondary{
    
    @media only screen and (max-width: $vp-xxlarge) {
      @include small-separator;
    }

    .image-description-title, .definition-list__term {
      font-weight: $fw-regular;
      color: $darkest;
    }

    .image-description-text{
      margin-top: $quad;
    }
  }
}
