// Leporello Explore
// --------------------------------------------------------------------------

.leporello-explore {
  border-top: solid $border-stroke-weight-s $light;
  background-color: $lighter;

  // Responsive Large
  // --------------------------------------------------------------------------
  @media only screen and (min-width: $vp-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: $vp-xlarge) {
    gap: $m;
    grid-template-columns: 1fr max($column-medium);
  }

  @media only screen and (min-width: $vp-xxlarge) {
    gap: $xxl;
    grid-template-columns: 1fr $column-large;
  }

  .block,
  .foldable-block {
    background-color: $lighter;
  }
}

// Image Wrap
// --------------------------------------------------------------------------

.main-image-wrap {

}

// Main Image
// --------------------------------------------------------------------------

.main-image {
  position: sticky;
  top: $m;
  width: 100%;
  padding: 0;
  margin: 0;


  .image-viewer {
    position: relative;
    width: 100%;
    min-height: 80vh;
    background-color: $darken;

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      & .openseadragon-canvas + div {
        margin-top: $s !important;
        margin-left: $s !important;
      }
    }
  }
}

// Explore Content
// --------------------------------------------------------------------------
.explore-content {
  padding: $m $xl $l $m;

  @media only screen and (min-width: $vp-xlarge) {
    padding: $m $xxxl $xl 0;
  }
}

// Image Stripe
// --------------------------------------------------------------------------

.image-stripe {

  &-list {
    display: grid;
    padding: 0;
    margin-bottom: $xxs;
    background-color: transparent;
    grid-auto-rows: 1fr;
    grid-column-gap: $quad;
    grid-row-gap: $quad;
    grid-template-columns: repeat(auto-fill, minmax($tile-xxxs, 1fr));
    list-style: none;

    &__item {
      width: $tile-xxxs;
      height: $tile-xxxs;
      aspect-ratio: 1/1;
      background-color: $darken-medium;
      transition: transform $tr-fast;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
      }

      &.is-active {
        box-sizing: border-box;
        border: solid $border-stroke-weight-s $accent-dark;
      }

      &.is-hidden {
        display: none;
      }
    }
  }
}

// Image Type Selector
// --------------------------------------------------------------------------

.imagetype-selector {
  position: relative;
  display: inline-block;
  border: solid $border-stroke-weight-s $darken-medium;
  margin-bottom: $m;
  background-color: $darken;
  border-radius: $radius-s;

  &:hover {
    box-shadow: $shadow-xs;
  }

  select {
    padding: $xxxs $xxs;
    padding-right: $m;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color: $dark;
    font-size: $m;
    font-weight: $fw-regular;

    &::-ms-expand {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: $half;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "expand_more";
    font-family: $font-icons;
    font-size: $m;
  }
}
