.leporello-explore {
  position: sticky;
  top: 0;
  border-top: solid $border-stroke-weight-s $light;
  box-shadow: $shadow-top;

  // Responsive Large
  // --------------------------------------------------------------------------
  @media only screen and (min-width: $vp-medium) {
    display: grid;
    gap: $m;
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: $vp-xlarge) {
    display: grid;
    gap: $m;
    grid-template-columns: 1fr max($column-medium);
  }
}

.main-image {
  width: 100%;
  padding: 0;
  margin: 0;

  .image-viewer {
    position: relative;
    width: 100%;
    min-height: 80vh;
    background-color: $darken;

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
