/* According to CUBE
    https://cube.fyi/composition.html#why-macro-level-thinking
############################################################################ */


// Info Block
// --------------------------------------------------------------------------

.info-block{

  &__title{
    margin-top: 0;
    font-size: $m;
    font-weight: $fw-semibold;
  }
}

// Foldable Block
// --------------------------------------------------------------------------

.foldable-block {
  background-color: $lightest;
  z-index: $level-content;
  position: relative;

  &.has-separator {
    border-top: solid $border-stroke-weight-s $light;
    padding-top: $s;
  }

  &.has-strong-separator {
    border-top: solid $border-stroke-weight-s $darken-strong;
    padding-top: $s;
  }

  &__headline {
    padding-bottom: $m;

    margin: 0;
    font-size: $l;
    font-weight: $fw-light;
  }

  &.is-sticky {
    position: sticky;
    top: $m;
    z-index: $level-background;
  }

  .is-expand-trigger {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: "expand_more";
      font-family: $font-icons;
      font-weight: $fw-bold;
      padding: $xxxs $xxs * 0.9;
      font-size: $m;
      transition: transform $tr-fast, background-color $tr-fast;
      color: $accent-dark;
      background-color: $darken;
    }

    &.is-expanded {
      &::after {
        background-color: transparent;
        transform: rotate(180deg);
      }
    }
  }

  .expandable-content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity $tr-fast;

    &.is-visible {
      height: auto;
      opacity: 1;
      padding-bottom: $xl;
    }
  }
}

// Block
// --------------------------------------------------------------------------

.block {
  
  &.has-padding{
    padding-bottom: $m;
  }

  & + & {
    padding-top: $s;
    border-top: solid $border-stroke-weight-s $light;
  }

  h2{
    margin-top: 0;
    font-weight: $fw-light;
    margin-bottom: $s;
    font-size: $l;
  }
}

/* Artfact Header
---------------------------------------------------------------------------- */

.artefact-header {
  margin-bottom: $xxxxl;
  max-width: $column-large;
}

/* Copy Text
---------------------------------------------------------------------------- */

.copytext {
  margin-bottom: $xxxxl;
}
