/* According to CUBE
    https://cube.fyi/composition.html#why-macro-level-thinking
############################################################################ */

// Foldable Block
// --------------------------------------------------------------------------

.foldable-block {
  position: sticky;
  top: 0;
  background-color: $lightest;

  &.has-separator {
    padding-top: $m;
    border-top: solid $border-stroke-weight-s $light;
  }

  &__headline {
    padding-bottom: $m;
    margin: 0;
    font-size: $m;
    font-weight: $fw-semibold;

    &.is-expandable {
      position: relative;

      &:hover{
        cursor: pointer;
      }

      &::after {
        transition: transform $tr-fast;
        position: absolute;
        right: 0;
        top: 0;
        content: "expand_more";
        font-family: $font-icons;
        font-size: $m;
      }

      &.is-expanded {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// Block
// --------------------------------------------------------------------------

.block {
  & + & {
    padding-top: $m;
    border-top: solid $border-stroke-weight-s $light;
  }

  h2, h3 {
    margin-top: 0;
  }
}

/* Artfact Header
---------------------------------------------------------------------------- */

.artefact-header {
  margin-bottom: $m;
}

/* Copy Text 
---------------------------------------------------------------------------- */

.copytext {
  margin-bottom: $xxxxl;
}
