* {
  box-sizing: content-box;
  transition: all $tr-fast;
}

body {
  background-color: $lightest;
  color: $darkest;
  font-family: $font-sans-serif;
  font-weight: $fw-light;
  font-size: $m;
}

a {
  color: $darkest;
  text-decoration: none;
}

/* Templates
---------------------------------------------------------------------------- */

.template {
  background-color: $darkest;
  color: $darkest;
}

/* Title & Subtitle
---------------------------------------------------------------------------- */

.title,
.subtitle,
.chapter {
  position: relative;
  margin-bottom: $l;
  font-size: $l;
  line-height: $lh-headlines;
}

.subtitle,
.chapter {
  font-weight: $fw-regular;
  margin-top: 0;
}

.title {
  font-size: $xl;
  font-weight: $fw-semibold;
}


.headline {
  margin-bottom: $m;
  font-size: $bfs;
  font-weight: $fw-semibold;
}

/* Text
---------------------------------------------------------------------------- */

p,
th,
td,
dt,
dd {
  line-height: $lh-normal;
  hyphens: auto;
}

/* Headline
---------------------------------------------------------------------------- */

h3 {
  font-size: $m;
  font-weight: $fw-bold;
}


/* Remarks
---------------------------------------------------------------------------- */

.remark{
  color: $darken-strong;
}