.markdown-it {
  p {
    margin-top: 0;
  }

  > *:last-child{
    margin-bottom: 0;
  }

  ul {
    li {
      margin-left: $s;
      list-style-type: square;
    }

    &.is-block {
      li {
        display: block;
        margin-left: 0;
      }
    }
  }

  ol {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    counter-reset: listCounter;

    li {
      counter-increment: listCounter;
      padding-left: $l;
      padding-bottom: $half;

      &::before{
        margin-left: -$l;
        content: counter(listCounter) ". ";
      }

      p{
        display: inline;
      }
    }
  }
}
