.has-interaction:hover {
  cursor: pointer;
}

.is-less-important {
  opacity: $op-medium;
}

.has-small-seperator {
  &::before {
    display: block;
    width: $xl;
    border-top: solid $border-stroke-weight-s $darken-strong;
    margin-top: $quad;
    margin-bottom: $quad;
    content: " ";
  }
}

.is-identifier {
  display: inline;
  font-weight: $fw-semibold;

  &::after {
    display: inline-block;
    padding-right: $quad;
    content: ":";
  }
}

.is-foldable-text {
  font-weight: $fw-light;
  transition: opacity $tr-fast;
  color: $darken-strong;

  position: relative;

  &:hover {
    cursor: pointer;
  }

  &::before {
    display: inline-block;
    vertical-align: bottom;
    content: "expand_more";
    font-family: $font-icons;
    font-weight: $fw-bold;
    padding: 0 $quad;
    font-size: $m;
    transition: transform $tr-fast, background-color $tr-fast;
    color: $accent-dark;
  }

  &.is-expanded {
    &::before {
      background-color: transparent;
      transform: rotate(180deg);
    }
  }
}


